body {
  background-color: burlywood;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h1, h2 {
  text-align: center;
  font-family: FreeMono, monospace;
}

p {
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}


.border {
  border-width: thin;
  border-style: groove;
}
