body {
  background-color: LightBlue;
}

img {
  width: 100%;
}

h1, h2 {
  text-align: center;
  font-family: FreeMono, monospace;
}

p {
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.image img {
  width: 100%;
}

.border {
  border-width: thin;
  border-style: groove;
}
